
// FÄRGER
$cool-blue: #244d6f;
$darker-cool-blue: #1c3d58;
$light-yellow: #f2ca90;
$light-black: #222222;
// -------

// FONTS
$main-font: 'Playfair Display', serif; // font för all text
// -------    

// Z-index variabel

$z-indices: (
    "menu": (
        "items": 2,
        "social": 3,
    ),
    "main-content": 1,
    "footer": -1,
);